<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="#"><i class="fas fa-shopping-bag"></i> Shopping App</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active fs-5" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fs-5" href="/products">Products</a>
                </li>
                <% if(user && user.retailer==='on'){%>
                    <li class="nav-item">
                        <a class="nav-link active fs-5" href="/products/new" tabindex="-1" aria-disabled="true">New_Product</a>
                    </li>
                <%}%>
            </ul>
            <ul class="navbar-nav me-1 mb-2 mb-lg-0">
                <%if(!user){%>
                    <li class="nav-item">
                        <a class="nav-link active fs-5" aria-current="page" href="/login">Login / Register</a>
                    </li>
                <%}else{%>
                    <li class="nav-item">
                        <a class="nav-link active fs-5" aria-current="page" href="/<%= user._id %>/profile"><%= user.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-5" href="/<%= user._id%>/cart"><i class="fas fa-shopping-cart"><sup class="badge bg-dark p-1 fs-6"><%= user.cart.length %></sup></i></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active fs-5" href="/logout" tabindex="-1" aria-disabled="true">Log Out</a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>